---
layout: archive
title: "PROGRAMMING"
permalink: /dev/
author_profile: false
---

{% include group-by-array collection=site.posts field="categories" %}
<ul class="taxonomy__index">
  {% for category in group_names %}
    {% assign posts = group_items[forloop.index0] %}
    <li>
      {% if 'notes' != category %}
      <a href="#{{ category | slugify}}">
        <strong>{{ category }}</strong> 
        <span class="taxonomy__count"></span>
      </a>
      {% endif %}
    </li>
  {% endfor %}  
</ul>


{% for category in group_names %}
  {% if 'notes' != category %}
    {% assign posts = group_items[forloop.index0] %}
    <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>

    {% for post in posts %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
